/* carousel.css */
.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
  width: 100%;
  margin: auto;
  max-height: 100vh;
  object-fit: cover;
}

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
